<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
    <form action="{{ url_for('student.register') }}" method="post">
        <span>用户名：</span>
        <label>
            <input type="text" name="username" placeholder="请输入用户名">
        </label><br>
        <span>密码：</span>
        <label>
            <input type="password" name="password" placeholder="请输入密码">
        </label>
        <br>
        <button>注册</button>
        {% for msg in get_flashed_messages() %}
            <li>{{ msg }}</li>
        {% endfor %}
    </form>
</body>
</html>
