[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
flask-script = "*"
flask-migrate = "*"
flask = "*"
flask-session = "*"
flask-caching = "*"
flask-debugtoolbar = "*"

[packages]

[requires]
python_version = "3.8"
